<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColinChang.MongoHelper.JsonConvert" version="1.0.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Fhzy.WinForm.Pager" version="1.0.0" targetFramework="net472" />
  <package id="Gobln.Pager" version="1.1.1" targetFramework="net472" />
  <package id="GW2NET.Newtonsoft" version="1.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net472" />
</packages>